*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #464646;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 40px;
}
.Project{
    background-color: beige;
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(210, 206, 165);
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}